:root {
    --clr--white: oklch(0.985 0.001 106.423);
    --clr--black: oklch(0.147 0.004 49.25) ;
    --clr--grey: oklch(0.446 0.03 256.802);
    --clr--blue: oklch(0.623 0.214 259.815) ;
}



* {
    margin: 0;
    padding: 0;
    line-height: calc(1em +0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: lato, sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;

}

button {
    display: inline-block;
    padding: 0;
    background: none;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #415762;
}

a:hover {
    color: var(--clr--blue)
}

.emergency_call_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 8px 8px 4px 8px;
    background-color: var(--clr--blue);


}
.emergency_call {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    color: var(--clr--white);
    padding: 4px 0px 4px 0px;   
}

.emergency_call p {
    font-size: 15px;
}

/* .hospital_header_wrapper {
    width: 100vw;
    padding: 0px;
    align-items: center;
    padding: 20px;
    justify-content: center;
    border: 2px solid red;
} */

header {
    position: relative;
    width: 90vw;
    height: 17vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links{
    /* border: 1px solid blue; */
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    padding: 5px;
    background-color: var(--clr--blue);
    border: 1px solid var(--clr--blue);
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.apt_btn {
    background-color: var(--clr--white);
    color: var(--clr--blue);
    padding: .8rem 1.5rem;
    border: 1px solid var(--clr--blue);
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.apt_btn:hover{
    background-color: var(--clr--blue);
    color: var(--clr--white);

}

/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    top: 70px;
    width: 500px;
    height: 0;
    background-color: hsla(0, 5%, 93%, 0.8);
    overflow: hidden;
}


.dropdown_menu.open{
    height: 200px;
}
.dropdown_menu li{
    padding: 1rem;
    border-bottom: 1px solid hsla(0, 0%, 79%, 0.8);
}


.container {
    background-color: black;
    background-image: url(../images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}

.hero_section {
    height: 550px;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}



.hero_text h2 {
    width: 250px;
    color: var(--clr--white);
    text-shadow: 2px 2px 4px black;
    font-size: 30px;
    font-weight: 900;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

.hero_text p{
    color: var(--clr--white);
    text-shadow: 2px 2px 4px black;
}

.hero_text button {
    width: 200px;
    padding: 10px;
    margin: 50px 0;
    text-align: center;
    background-color: var(--clr--blue);
    color: var(--clr--white);
    border: 1px solid var(--clr--blue);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}




hr {
    border: 1px solid #415762;
    width: 96%;
    height: 1px;
    margin-bottom: 15px;
    margin: 0 auto;
}

.hero_section .hero_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--clr--white);
    text-shadow: 2px 2px 4px black;
    margin: 50px;
}

.container_wrapper{
    padding: 20px;
}

.container1 {
    border: 1px solid var(--clr--black);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 1rem;
}

.container1 > .boxline1 {
    width: 33px;
    border: 1px solid var(--clr--blue);
    margin: 0px;
    margin-bottom: 15px;
}

.title_description1 {
    font-size: 18px;
    line-height: 2;
}

.paragraph_description1 {
    margin: 5px 10px 30px 0;
}

.button_description1 {
    color: var(--clr--blue);
    font-size: 14px;

}

/* second box */
.container2 {
    border: 1px solid var(--clr--black);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 1rem;
}

.container2 > .boxline2 {
    width: 33px;
    border: 1px solid var(--clr--blue);
    margin: 0px;
    margin-bottom: 15px;
}

.title_description2 {
    font-size: 18px;
    line-height: 2;
}

.paragraph_description2 {
    margin: 5px 10px 30px 0;
}

.button_description2 {
    color: var(--clr--blue);
    font-size: 14px;

}

/* third box */
.container3 {
    border: 1px solid var(--clr--black);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 1rem;
}

.container3 > .boxline3 {
    width: 33px;
    border: 1px solid var(--clr--blue);
    margin: 0px;
    margin-bottom: 15px;
}

.title_description3 {
    font-size: 18px;
    line-height: 2;
}

.paragraph_description3 {
    margin: 5px 10px 30px 0;
}

.button_description3 {
    color: var(--clr--blue);
    font-size: 14px;

}

.about_section {
    
}

.about_container {
    background-color: rgba(0, 109, 164, 0.1);
    padding: 20px;
}

.about_title{
    margin-top: 50px;
    text-align: center;
}
.about_description{
    margin: 5px 10px 20px 10px;
    text-align: center;
}

.about_wrapper {
    /* border: 1px solid red; */
}
.about_pic{
    margin: 10px;
    border-radius: 5px;
    width: 350px;
}
.about_subtitle{
    margin: 10px;
    line-height: 1.7;
}
.about_text1{
    margin: 10px;
    color:var(--clr--grey);
    line-height: 1.5;
    font-size: 14px;
}
.about_text2{
    margin: 10px 10px 25px 10px;
    color:var(--clr--grey);
    line-height: 1.5;
    font-size: 14px;

}
.about_read_more {
    padding: 10px 20px;
    border: 2px solid var(--clr--blue);
    margin: 25px 10px 15px 10px;
    margin-bottom: 60px;
}  
